In [1]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

In [3]:
#Combine the data
combined_results = study_results.merge(mouse_metadata, on="Mouse ID")
combined_results.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22

In [4]:
#Group data by the Timepoint
grouped_timepoint = combined_results.groupby("Timepoint")
grouped_timepoint.count()

,Mouse ID,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
Timepoint,,,,,,,
0,250,250,250,250,250,250,250
5,238,238,238,238,238,238,238
10,223,223,223,223,223,223,223
15,207,207,207,207,207,207,207
20,195,195,195,195,195,195,195
25,183,183,183,183,183,183,183
30,171,171,171,171,171,171,171
35,154,154,154,154,154,154,154
40,142,142,142,142,142,142,142
45,130,130,130,130,130,130,130

In [21]:
#Group data by every timepoint per regiment
grouped_timepoint["Tumor Volume (mm3)"].describe()
grouped_regiment_timepoint = combined_results.groupby(["Drug Regimen", "Timepoint"])
#Set up a dataframe holding stats for each timepoint per regiment
tumor_med = grouped_regiment_timepoint["Tumor Volume (mm3)"].median()
tumor_avg = grouped_regiment_timepoint["Tumor Volume (mm3)"].mean()
tumor_sem = grouped_regiment_timepoint["Tumor Volume (mm3)"].sem()
tumor_std = grouped_regiment_timepoint["Tumor Volume (mm3)"].std()
tumor_var = grouped_regiment_timepoint["Tumor Volume (mm3)"].var()
grouped_regiment_timepoint_df = pd.DataFrame({"Median":tumor_med, "Average":tumor_avg, "SEM":tumor_sem, "Stand. Dev.":tumor_std, "Variance":tumor_var})

                           Median    Average       SEM  Stand. Dev.   Variance
Drug Regimen Timepoint
Capomulin    0          45.000000  45.000000  0.000000     0.000000   0.000000
             5          45.597064  44.266086  0.448593     2.242964   5.030889
             10         43.421014  43.084291  0.702684     3.513422  12.344133
             15         42.798160  42.064317  0.838617     4.108369  16.878693
             20         40.716428  40.716325  0.909731     4.362915  19.035028