In [1]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

In [12]:
#Combine the data
combined_results = study_results.merge(mouse_metadata, on="Mouse ID")
combined_results.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22

In [17]:
#Group data by the Timepoint
grouped_timepoint = combined_results.groupby("Timepoint")
grouped_timepoint.count()

,Mouse ID,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
Timepoint,,,,,,,
0,250,250,250,250,250,250,250
5,238,238,238,238,238,238,238
10,223,223,223,223,223,223,223
15,207,207,207,207,207,207,207
20,195,195,195,195,195,195,195
25,183,183,183,183,183,183,183
30,171,171,171,171,171,171,171
35,154,154,154,154,154,154,154
40,142,142,142,142,142,142,142
45,130,130,130,130,130,130,130

In [30]:
grouped_timepoint["Tumor Volume (mm3)"].describe()
grouped_regiment_timepoint = combined_results.groupby(["Drug Regimen", "Timepoint"])
grouped_regiment_timepoint_df = grouped_regiment_timepoint["Tumor Volume (mm3)"].describe()
tumor_sem = grouped_regiment_timepoint["Tumor Volume (mm3)"].sem()
grouped_regiment_timepoint_df["Sem"] = tumor_sem
capomulin_stats = grouped_regiment_timepoint_df.loc["Capomulin", :]

,count,mean,std,min,25%,50%,75%,max,Sem
Timepoint,,,,,,,,,
0,25.0,45.000000,0.000000,45.000000,45.000000,45.000000,45.000000,45.000000,0.000000
5,25.0,44.266086,2.242964,38.796474,43.180977,45.597064,45.760886,45.895647,0.448593
10,25.0,43.084291,3.513422,35.624403,39.952347,43.421014,46.408361,46.759074,0.702684
15,24.0,42.064317,4.108369,32.623003,39.713398,42.798160,44.634897,47.488599,0.838617
20,23.0,40.716325,4.362915,30.485985,38.240746,40.716428,43.596783,48.158209,0.909731
25,22.0,39.939528,4.135268,33.118756,36.798393,40.224165,43.211711,46.809225,0.881642
30,22.0,38.769339,4.383004,31.758275,35.615591,39.260371,42.576043,45.261384,0.934460
35,22.0,37.816839,4.935447,28.328531,34.001625,38.360455,41.179873,45.941949,1.052241
40,21.0,36.958001,5.607278,25.472143,32.947615,36.843898,40.770813,46.821070,1.223608
45,21.0,36.236114,5.608969,23.343598,32.377357,37.311846,40.159220,47.685963,1.223977