In [1]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

In [3]:
#Combine the data
combined_results = study_results.merge(mouse_metadata, on="Mouse ID")
combined_results.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22

In [6]:
#Group data by the Timepoint
grouped_timepoint = combined_results.groupby("Timepoint")
grouped_timepoint.count()
ids = combined_results["Mouse ID"].unique()
living_mice = combined_results.loc[combined_results["Timepoint"] == 45]
living_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
9,b128,45,38.982878,2,Capomulin,Female,9,22
40,h246,45,74.104086,2,Ketapril,Male,13,30
50,p189,45,75.294936,4,Ketapril,Male,8,28
79,b559,45,73.051363,1,Naftisol,Male,20,26
89,y260,45,62.909441,4,Ketapril,Female,7,25
...,...,...,...,...,...,...,...,...
1844,l897,45,38.846876,1,Capomulin,Male,17,19
1857,t565,45,34.455298,0,Capomulin,Female,20,17
1867,i557,45,47.685963,1,Capomulin,Female,1,24
1877,m957,45,33.329098,1,Capomulin,Female,3,19
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [ ]:
#Group data by every timepoint per regiment
grouped_timepoint["Tumor Volume (mm3)"].describe()
grouped_regiment_timepoint = combined_results.groupby(["Drug Regimen", "Timepoint"])

#Set up a dataframe holding stats for each timepoint per regiment
tumor_med = grouped_regiment_timepoint["Tumor Volume (mm3)"].median()
tumor_avg = grouped_regiment_timepoint["Tumor Volume (mm3)"].mean()
tumor_sem = grouped_regiment_timepoint["Tumor Volume (mm3)"].sem()
tumor_std = grouped_regiment_timepoint["Tumor Volume (mm3)"].std()
tumor_var = grouped_regiment_timepoint["Tumor Volume (mm3)"].var()
grouped_regiment_timepoint_df = pd.DataFrame({"Median":tumor_med, "Average":tumor_avg, "SEM":tumor_sem, "Stand. Dev.":tumor_std, "Variance":tumor_var})

#Define function to create stat summary for each regimen
def regimen_stat(regimen):
    return grouped_regiment_timepoint_df.loc[regimen, :]

#For loop to print all the stat sums for all the regimens
regimens = combined_results["Drug Regimen"].unique()
for regimen in regimens:
    print(regimen)
    print(regimen_stat(str(regimen)))