In [1]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)
mouse_metadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [21]:
#Filter Results
grouped_results = study_results.groupby("Mouse ID")
filtered_results = test.filter(lambda x: x["Timepoint"].count() == 10)
filtered_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
5        h246          0           45.000000                 0
6        p189          0           45.000000                 0
11       b559          0           45.000000                 0
12       y260          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1300 rows x 4 columns]

In [22]:
#Combine the data
combined_results = filtered_results.merge(mouse_metadata, on="Mouse ID")
combined_results.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22

In [23]:
#Group data by every timepoint per regiment
grouped_regiment = combined_results.groupby(["Drug Regimen", "Timepoint"])
grouped_regiment.count().head()

                        Mouse ID  Tumor Volume (mm3)  Metastatic Sites  Sex  \
Drug Regimen Timepoint
Capomulin    0                21                  21                21   21
             5                21                  21                21   21
             10               21                  21                21   21
             15               21                  21                21   21
             20               21                  21                21   21

                        Age_months  Weight (g)
Drug Regimen Timepoint
Capomulin    0                  21          21
             5                  21          21
             10                 21          21
             15                 21          21
             20                 21          21

In [24]:
#Set up a dataframe holding stats for each timepoint per regiment
tumor_med = grouped_regiment["Tumor Volume (mm3)"].median()
tumor_avg = grouped_regiment["Tumor Volume (mm3)"].mean()
tumor_sem = grouped_regiment["Tumor Volume (mm3)"].sem()
tumor_std = grouped_regiment["Tumor Volume (mm3)"].std()
tumor_var = grouped_regiment["Tumor Volume (mm3)"].var()
grouped_regiment_df = pd.DataFrame({"Median":tumor_med, "Average":tumor_avg, "SEM":tumor_sem, "Stand. Dev.":tumor_std, 
                                    "Variance":tumor_var})

#Define function to create stat summary for each regimen
def regimen_stat(regimen):
    return grouped_regiment_df.loc[regimen, :]

#For loop to print all the stat sums for all the regimens
regimens = combined_results["Drug Regimen"].unique()
for regimen in regimens:
    print(regimen)
    print(regimen_stat(str(regimen)))

Capomulin
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          45.622381  44.638812  0.373530     1.711731   2.930025
10         43.421014  43.288693  0.707142     3.240531  10.501043
15         42.283665  42.241369  0.811862     3.720418  13.841513
20         40.716428  41.046149  0.846435     3.878850  15.045480
25         40.156413  39.719733  0.895478     4.103597  16.839507
30         39.352792  38.803875  0.979400     4.488174  20.143704
35         37.967644  37.772247  1.102608     5.052785  25.530639
40         36.843898  36.958001  1.223608     5.607278  31.441568
45         37.311846  36.236114  1.223977     5.608969  31.460537
Ketapril
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          48.562495  47.989945  0.388425     1.288259   1.659610
10         50.128455  50.135365  0.299887     0.994611   0.989251
15         53.149559  53.000687  0.552425     1.832185   3.356903
20         56.530204  55.563182  0.751238     2.491576   6.207950
25         58.891816  58.728153  0.751584     2.492722   6.213664
30         61.108186  62.169148  0.949917     3.150519   9.925771
35         64.094889  64.310632  1.225594     4.064836  16.522888
40         67.742814  67.081986  1.410349     4.677598  21.879921
45         69.872251  70.662958  1.453186     4.819674  23.229260
Naftisol
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          46.833475  46.867079  0.316211     1.140113   1.299858
10         48.167061  48.885177  0.479820     1.730014   2.992948
15         51.378862  51.482335  0.645564     2.327613   5.417782
20         54.114137  54.074872  0.862923     3.111314   9.680275
25         57.043669  57.203463  1.074705     3.874904  15.014877
30         60.007210  59.684628  1.125513     4.058096  16.468147
35         62.732858  62.852580  1.168253     4.212197  17.742603
40         66.640722  65.789380  1.283273     4.626907  21.408268
45         69.563621  69.265506  1.416363     5.106770  26.079104
Infubinol
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          47.111801  47.554028  0.400870     1.202611   1.446273
10         49.431685  49.404738  0.483379     1.450136   2.102896
15         51.523068  51.384368  0.630018     1.890053   3.572301
20         54.571076  53.543237  0.866889     2.600668   6.763473
25         56.793208  56.224678  0.942268     2.826804   7.990819
30         59.412537  58.532347  0.977116     2.931347   8.592795
35         60.541562  60.693045  1.069123     3.207368  10.287212
40         63.095076  62.704291  1.062565     3.187696  10.161405
45         66.083066  65.755562  1.144427     3.433282  11.787426
Ramicane
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          44.766037  43.632879  0.573602     2.565225   6.580377
10         42.485122  42.111555  0.824351     3.686608  13.591079
15         40.504532  40.858715  0.851989     3.810209  14.517694
20         40.230317  39.762729  0.814704     3.643465  13.274839
25         37.979091  38.792697  0.835513     3.736529  13.961648
30         37.892934  38.387121  0.960108     4.293732  18.436134
35         37.666620  37.496514  1.016000     4.543689  20.645111
40         35.668692  36.574081  1.128445     5.046561  25.467778
45         34.848627  34.955595  1.226805     5.486439  30.101010
Stelasyn
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          48.242552  47.897880  0.386635     1.282324   1.644354
10         50.338946  49.732453  0.521617     1.730008   2.992927
15         51.618387  51.794414  0.730487     2.422752   5.869725
20         54.372516  54.643903  0.943701     3.129901   9.796281
25         56.575195  56.848698  1.051130     3.486202  12.153606
30         60.605440  60.154564  1.279813     4.244660  18.017142
35         64.055399  62.674480  1.314162     4.358583  18.997242
40         67.221007  65.021614  1.500902     4.977928  24.779767
45         69.299149  68.438310  1.576556     5.228845  27.340818
Zoniferol
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          46.736212  47.034879  0.277983     1.040117   1.081844
10         48.767716  48.954360  0.331352     1.239804   1.537114
15         50.725505  50.950521  0.473028     1.769909   3.132576
20         52.638540  53.082970  0.644258     2.410593   5.810960
25         55.373168  55.315109  0.683579     2.557717   6.541915
30         57.282944  57.520661  0.834038     3.120683   9.738661
35         60.365832  60.089372  0.881426     3.297993  10.876760
40         62.274543  62.916692  0.998515     3.736102  13.958456
45         65.684689  65.960888  1.003576     3.755037  14.100301
Propriva
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          47.461261  47.552586  0.359173     0.950282   0.903036
10         48.899552  49.062043  0.656771     1.737653   3.019438
15         50.854632  51.211355  0.714791     1.891159   3.576484
20         52.132321  53.173343  0.911168     2.410723   5.811587
25         54.742733  55.053524  1.081079     2.860265   8.181118
30         56.924974  57.643879  1.271643     3.364450  11.319523
35         57.735941  59.742383  1.510598     3.996667  15.973350
40         62.324348  63.064520  2.031790     5.375611  28.897198
45         64.957562  66.258529  1.888586     4.996728  24.967290
Placebo
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          47.116616  46.978130  0.334367     1.108971   1.229816
10         49.219317  49.218669  0.547268     1.815084   3.294529
15         51.532603  51.351923  0.790278     2.621056   6.869932
20         53.006865  54.187082  0.992985     3.293360  10.846220
25         57.106418  57.456515  1.184403     3.928221  15.430923
30         59.916934  59.985903  1.283451     4.256724  18.119702
35         64.052873  63.150796  1.213448     4.024552  16.197020
40         66.604368  65.692814  1.327641     4.403288  19.388948
45         69.042841  68.084082  1.351726     4.483167  20.098783
Ceftamin
              Median    Average       SEM  Stand. Dev.   Variance
Timepoint
0          45.000000  45.000000  0.000000     0.000000   0.000000
5          46.422652  46.476532  0.187591     0.676369   0.457475
10         48.529978  48.574593  0.306969     1.106793   1.224991
15         49.746427  50.175249  0.405772     1.463031   2.140461
20         52.228327  52.187140  0.406580     1.465945   2.148995
25         54.041333  54.220869  0.552497     1.992056   3.968285
30         56.406422  56.899911  0.576642     2.079111   4.322701
35         58.077583  58.794783  0.746875     2.692896   7.251686
40         60.280405  61.258323  0.731028     2.635759   6.947225
45         64.299830  64.132421  0.902358     3.253497  10.585242